*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'poppins';
  background-color: rgb(15, 15, 15,0.8)
}

:root{
  --background:rgb(24,24,24);
  --second-background:rgb(21,21,21);
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2em 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(15, 15, 15,0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
ul{
  display: flex;
  align-items: center;
  gap: 3em;
}

nav ul a{
  color: white;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

nav ul a:hover{
  opacity: 1;
}
.logo{
  font-size: xx-large;
  font-weight: 500;
}
.btn{
  padding: 0.5em 1em;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.5em;
  font-size: 1.1em;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}
.btn:hover{
  background-color: white;
  color:var(--background);
}

span{
  background: linear-gradient(to right , #6cff52 , #3ec5ff);
  background-clip: text ;
  color: transparent;
}
section{
  min-height: 100vh;
  padding: 5% 15%;
}

#Home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: white;
}
#Home img{
  width: 18vw;
  border-radius: 50%;
  margin-top: 3em;
}
.info-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  max-width: 600px;
}

.info-box h1{
  font-size: 5em;
  font-weight: 500;
}
.info-box h3{
  font-size: 2em;
  font-weight: 400;
}
.info-box p{
  opacity: 0.7;
}
.btn-box{
  display: flex;
  gap: 1em;
}
.btn-box .btn:nth-of-type(2){
  background-color: white;
  color: var(--background);
}
.btn-box .btn:nth-of-type(2):hover{
  background-color: var(--background);
  color: white;
}

#About{
  background-color: var(--second-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}
#About img{
  width: 30vw;
  border-radius: 1em;
}
.info-about h1{
  font-size: 5em;
}
.info-about p{
  color: white;
  opacity: 0.8;
}

.skill-info{
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-weight: 500;
}
.skill-img{
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  height: 250px;
  width: 250px;

}

.project-info{
  display: flex;
  justify-content: center;
}
.project-info h1{
  font-size: 6em;
  font-weight: 700;
}

.projects{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects h1{
  display: flex;
  justify-content: center;
}
.project1 h1{
  color: white;
}
.project1 img{
  height: 300px;
  width: 600px;
 
}
.project2 h1{
  color: white;
}
.project2 img{
  height: 300px;
  width: 600px;
}

#contact{
  background-color: var(--second-background);
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

form .input-box{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap:1em;

}

.info-about span{
  font-size: 1.5em;
}

form input{
  font-size: 1.3em;
  padding : 1em 5em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  background-color: wheat;
}

form input:focus{
  background: rgb(229, 229, 229);
}

footer{
  display: flex;
  flex-direction: column;
 align-items: center;
 margin-top: 100px;
}